<ion-content>
    <div class="container">

        <div class="round-bottom"></div>

        <div>
            <ion-item lines="none" class="logo">
                <ion-icon class="back" (click)='close()' name="arrow-back-outline"></ion-icon>
            </ion-item>
            <ion-card (click)="checkRatings()" style="z-index:2" class='usercard' button='true'>
                <ion-card-header style="margin-left: 10px;">
                    <ion-card-subtitle color="light">{{name}}</ion-card-subtitle>
                    <ion-card-title style="font-weight: 400; font-size: 20px;" color="light">@{{username}}</ion-card-title>
                </ion-card-header>
                <ion-card-header>
                    <ion-card-subtitle style="margin-top: 230px; margin-left:100px; font-size:13px; font-weight: 400;" color="light">Check Ratings</ion-card-subtitle>
                    <ion-icon class="add" name="add-circle"></ion-icon>
                </ion-card-header>
                <ion-img id="img" src="{{image}}"></ion-img>

            </ion-card>

            <div>
                <ion-slides [options]="{'direction': 'horizontal'}">
                    <ion-slide style="display: flex; flex-direction: column;">
                        <div class="rate-container">
                            <ion-item lines="none" class="rate-option">
                                <ion-label>How Cute?</ion-label>
                            </ion-item>
                            <div class="icons">
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                            </div>
                        </div>

                        <div class="rate-container">
                            <ion-item lines="none" class="rate-option">
                                <ion-label>Personality</ion-label>
                            </ion-item>
                            <div class="icons">
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="rate-container">
                            <ion-item lines="none" class="rate-option">
                                <ion-label>How Hot?</ion-label>
                            </ion-item>
                            <div class="icons">
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                            </div>
                            <small class="desc">Swipe For More!</small>
                        </div>
                    </ion-slide>

                    <ion-slide style="display: flex; flex-direction: column;">
                        <div class="rate-container">
                            <ion-item lines="none" class="rate-option">
                                <ion-label>How Social?</ion-label>
                            </ion-item>
                            <div class="icons">
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                            </div>
                        </div>

                        <div class="rate-container">
                            <ion-item lines="none" class="rate-option">
                                <ion-label>How Friendly</ion-label>
                            </ion-item>
                            <div class="icons">
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="rate-container">
                            <ion-item lines="none" class="rate-option">
                                <ion-label>How Fun?</ion-label>
                            </ion-item>
                            <div class="icons">
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                                <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                            </div>
                            <small class="desc">Swipe For More!</small>
                        </div>
                    </ion-slide>

                </ion-slides>

                <ion-button (click)="upload_rates()" expand="block" color="dark">
                    <ion-label style="margin-left: 50px; font-size: 20px;">RATE!</ion-label>
                    <ion-icon style="transform: scale(1); margin-left: 5px;" name="star"></ion-icon>
                </ion-button>

            </div>
        </div>
    </div>
</ion-content>