<ion-content>
    <div class="container">

        <div class="round-bottom"></div>

        <div>
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>
            </ion-item>
            <ion-card style="z-index:2" (click)='close()' class='usercard' button='true'>
                <ion-card-header>
                    <ion-card-subtitle color="light">{{name}}</ion-card-subtitle>
                    <ion-card-title color="light">@{{username}}</ion-card-title>
                </ion-card-header>
                <ion-img id="img" src="{{image}}"></ion-img>
            </ion-card>

            <div style="padding-top: 50px;">
                <div class="rate-container">
                    <ion-item lines="none" class="rate-option">
                        <ion-label>How Cute?</ion-label>
                    </ion-item>
                    <div class="icons">
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                    </div>
                </div>

                <div class="rate-container">
                    <ion-item lines="none" class="rate-option">
                        <ion-label>Personality</ion-label>
                    </ion-item>
                    <div class="icons">
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                    </div>
                </div>
                <div class="rate-container">
                    <ion-item lines="none" class="rate-option">
                        <ion-label>How Hot?</ion-label>
                    </ion-item>
                    <div class="icons">
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                        <ion-icon (click)="starClicked($event)" name="star-outline"></ion-icon>
                    </div>
                </div>
                <ion-button expand="block" color="dark">
                    <ion-label style="margin-left: 130px; font-size: 20px;">RATE!</ion-label>
                    <ion-icon style="transform: scale(1); margin-left: 5px;" name="star"></ion-icon>
                </ion-button>

            </div>
        </div>
    </div>
</ion-content>