<ion-content>
    <ion-item lines="none">
        <ion-icon class="settings" (click)='close()' name="arrow-back-outline"></ion-icon>
    </ion-item>

    <ion-list>
        <ion-list-header>
            <ion-label>Settings</ion-label>
        </ion-list-header>
        <div class="container">

            <ion-item (click)="showUserInput()" lines="none" class="options">
                <ion-label>Change Username</ion-label>
            </ion-item>

            <div id="username_input" class="hide">
                <ion-item lines="none" class="input">
                    <ion-label position="fixed">Enter new</ion-label>
                    <ion-input placeholder="username" id="password" [ngModelOptions]="{standalone:true}" required [(ngModel)]='Username'></ion-input>
                </ion-item>
                <ion-button type='submit' class='btn' color="dark " expand=" 'full" shape=' '>Change</ion-button>
            </div>
        </div>

        <div class="container">
            <ion-item (click)='showNameInput()' lines="none" class="options">
                <ion-label>Change Password</ion-label>
            </ion-item>
            <div id="name_input" class="hide">
                <ion-item lines="none" class="input">
                    <ion-label position="fixed">Enter old</ion-label>
                    <ion-input type="password" placeholder="password" id="password" [ngModelOptions]="{standalone:true}" required [(ngModel)]='old_pass'></ion-input>
                </ion-item>
                <ion-item lines="none" class="input">
                    <ion-label position="fixed">Enter new</ion-label>
                    <ion-input type="password" placeholder="password" id="password" [ngModelOptions]="{standalone:true}" required [(ngModel)]='new_pass'></ion-input>
                </ion-item>
                <ion-button type='submit' class='btn' color="dark " expand=" 'full" shape=' '>Change</ion-button>
            </div>
        </div>

        <ion-item lines="none" class="options">
            <ion-label>Logout</ion-label>
        </ion-item>
        <ion-item lines="none" class="options">
            <ion-label color="danger">Delete Account</ion-label>
        </ion-item>
    </ion-list>
</ion-content>