<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item class="logo" lines="none">
        Friends
    </ion-item>

    <ion-card title="{{friend.username}}?{{friend.name}}?{{friend.image}}" *ngFor="let friend of friends" (click)="option($event)" (click)="friendOptions()" mode="ios" button="true">
        <div title="{{friend.username}}?{{friend.name}}?{{friend.image}}" style="display:flex">
            <ion-header title="{{friend.username}}?{{friend.name}}?{{friend.image}}">
                <ion-card-title title="{{friend.username}}?{{friend.name}}?{{friend.image}}">@{{friend.username}}</ion-card-title>
            </ion-header>
            <img title="{{friend.username}}?{{friend.name}}?{{friend.image}}" src="{{friend.image}}" alt="">
        </div>
    </ion-card>
    <ion-item style="text-align: center;" id="nofriends" lines='none'>
        <ion-label>
            No Friends
        </ion-label>
    </ion-item>
</ion-content>