<ion-content scroll-y="false">
    <div class="container">



        <div>
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>
            </ion-item>
            <ion-searchbar debounce="500" placeholder="eg: @John Smith" [(ngModel)]='searchFilter'> </ion-searchbar>
        </div>

        <ion-content scroll-y="true">
            <ion-card class="searchItems" *ngFor="let user of users | filter : searchFilter">
                <ion-img style='border-radius: 50%;' src="{{user.image}}"></ion-img>
                <div>
                    <ion-card-header>
                        <ion-card-subtitle style="font-size: 15px;" color="light">{{user.name}}</ion-card-subtitle>
                        <ion-card-title style="font-weight: 400;" color="light">@{{user.username}}</ion-card-title>
                    </ion-card-header>
                </div>
            </ion-card>
            <div class="round-bottom"></div>
        </ion-content>

    </div>
</ion-content>