<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event    )">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="container">

        <div class="round-bottom"></div>

        <div>
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>
            </ion-item>
            <ion-item class="settings" lines="none">

                <ion-icon (click)="settings()" style="transform: scale(1.2);" name="settings-outline"></ion-icon>

            </ion-item>
            <ion-fab horizontal="center" slot="fixed">
                <ion-fab-button class="image-container">
                    <img src={{displayedImage}} id="img" alt="">
                </ion-fab-button>
            </ion-fab>
            <ion-item lines="none" class="name">
                <ion-label>{{name}}</ion-label>
            </ion-item>
        </div>
    </div>
</ion-content>