* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.round-bottom {
    border-top-left-radius: 50% 150px !important;
    border-top-right-radius: 50% 150px !important;
    overflow: hidden;
    position: absolute;
    /* Ellipse 1 */
    bottom: 0;
    background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    /* Ellipse 1 */
    width: 864px;
    height: 480px;
    left: -220px;
}

.container {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-size: 40px;
    position: absolute;
    left: 2%;
    top: 2%;
    width: 100%;
    text-align: left;
}

ion-item {
    // --ion-item-background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    --ion-item-color: #2EA5BF;
}

.image-container {
    position: absolute;
    top: -75px;
    right: -30px;
    transform: scale(3);
    border-radius: 100%;
    transition: 0.8s;
    background-color: #2EA5BF;
}

.image-container:hover,
.image-container:active {
    box-shadow: 0 0 10px lightblue;
}

#img {
    height: 60px;
    width: 70px;
    object-fit: cover;
}

.name {
    position: absolute;
    top: 60px;
    left: 2%;
    font-size: larger;
    --background: transparent;
    font-weight: bolder;
    text-transform: capitalize;
}

.settings {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

small {
    position: absolute;
    margin: auto;
    margin: 0 20px;
    color: white;
}

small:hover,
small:active {
    cursor: pointer;
}

ion-progress-bar {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    height: 20px;
    top: 280px;
    border: 1px solid white;
    border-radius: 70px !important;
    z-index: 2;
}

.username {
    position: relative;
    margin-right: 50%;
    top: 28px;
    font-weight: 300;
}

.requests::part(scroll) {
    background-color: #2EA5BF;
}

ion-button:hover,
:active {
    --background: transparent;
}

.moveUp {
    transform: translateY(-300px);
}

@media (min-width: 500px) {
    .round-bottom {
        width: 100%;
        left: 0;
        border-top-left-radius: 100% 150px !important;
        border-top-right-radius: 100% 150px !important;
    }
    .image-container {
        transform: scale(3.5);
    }
}

@media (max-width: 375px) {
    .image-container {
        transform: scale(2.8);
    }
    .round-bottom {
        height: 400px;
    }
}