<ion-content scroll-y="false">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event    )">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="container">

        <div class="round-bottom"></div>

        <div>
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>
            </ion-item>
            <ion-item class="settings" lines="none">

                <ion-icon (click)="settings()" class="settings-icon" name="settings-outline"></ion-icon>

            </ion-item>

            <ion-fab horizontal="center" slot="fixed">
                <ion-fab-button class="image-container">
                    <img src={{displayedImage}} id="img" alt="">
                </ion-fab-button>
            </ion-fab>

            <ion-item lines="none" class="name">
                <ion-label>{{name}}</ion-label>
            </ion-item>
            <div>
                <div class="check-friends-container">
                    <small class=" username ">@{{username}}</small>
                    <small (click)="friends()" class="checkFriends">Check Friends</small>
                </div>
                <div class="bar-container">
                    <ion-progress-bar color="light " value="{{total_rates/100}} "></ion-progress-bar>
                </div>
            </div>
            <div>
                <ion-item class="total_rates" lines="none">
                    <ion-label>
                        Rates (Total): {{total_rates}}
                    </ion-label>
                </ion-item>
            </div>
            <div class="rates-container">
                <div>
                    <ion-item class="rates" lines="none">
                        <ion-label>
                            Today
                        </ion-label>
                    </ion-item>
                    <ion-item class="rates" lines="none">
                        <ion-label>
                            0
                        </ion-label>
                    </ion-item>
                </div>
                <div>
                    <ion-item class="rates" lines="none">
                        <ion-label>
                            This Week
                        </ion-label>
                    </ion-item>
                    <ion-item class="rates" lines="none">
                        <ion-label>
                            0
                        </ion-label>
                    </ion-item>
                </div>
                <div>
                    <ion-item class="rates" lines="none">
                        <ion-label>
                            This Month
                        </ion-label>
                    </ion-item>
                    <ion-item class="rates" lines="none">
                        <ion-label>
                            0
                        </ion-label>
                    </ion-item>
                </div>
            </div>
            <ion-content class="requests" scroll-x="true" scroll-y="false" style="margin-top: 40px">
                <div fxLayout="row nowrap" fxLayoutAlign="start start" fxLayoutGap="32px 12px grid">
                    <div fxFlex="25" class="flex-container" *ngFor="let request of requests;">
                        <div class="card-container">
                            <ion-card class="request-card">
                                <ion-card-header>
                                    <ion-card-subtitle>
                                        {{request.name}}
                                    </ion-card-subtitle>
                                    <ion-card-title>
                                        @{{request.username}}
                                    </ion-card-title>
                                </ion-card-header>
                                <img class="request-img" src="{{request.image}}">
                            </ion-card>
                            <ion-button title="{{request.username}}" (click)='accept_friend($event)'>ACCEPT</ion-button>
                            <ion-button title="{{request.username}}" (click)='decline_friend($event)'>DECLINE</ion-button>
                        </div>
                    </div>
                </div>
                <ion-item id="no_friends" lines="none">
                    <ion-label>
                        No Friend Requests
                    </ion-label>
                </ion-item>
            </ion-content>

            <small (click)="checkStats()" class="check-stats">Check Stats</small>
        </div>
    </div>
</ion-content>