<ion-content>



    <div class="container">
        <div id="bg" class="round-bottom"></div>

        <div class="welcome">
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>

            </ion-item>
            <ion-item lines='none'>
                <ion-label>
                    <h2 class="signin">Welcome<br><br>{{userFlow}},</h2>
                </ion-label>
            </ion-item>
            <ion-item lines='none'>
                <ion-icon class="profile" name="person-circle"></ion-icon>
            </ion-item>
        </div>

        <form (ngSubmit)="getStarted()" ngNativeValidate class="inputs">
            <ion-item class="input">
                <ion-icon slot="start" name="person-outline"></ion-icon>
                <ion-label position="floating">What is your name?</ion-label>
                <ion-input [ngModelOptions]="{standalone:true}" [(ngModel)]='name' required>
                </ion-input>
            </ion-item>
            <ion-button type="submit" class='btn' color="dark" expand="'full" shape=''>Get Started</ion-button>
        </form>

    </div>


</ion-content>