<ion-content>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ion-grid>

        <div class="container">
            <ion-row>

                <div class="round-bottom"></div>

                <div>
                    <ion-item lines="none" class="logo">
                        <ion-label>
                            Ratify
                        </ion-label>

                    </ion-item>
                </div>
            </ion-row>
            <div class="people center">

                <ion-item id="img1"></ion-item>
                <ion-item id="img2"></ion-item>
                <ion-item id="img3"></ion-item>
                <ion-item id="img4"></ion-item>
                <ion-item id="img5"></ion-item>
                <ion-item id="img6"></ion-item>
                <ion-item id="img7"></ion-item>
                <ion-item id="img8"></ion-item>
                <ion-item id="img9"></ion-item>
                <ion-item id="img10"></ion-item>
            </div>
            <ion-row>

            </ion-row>
            <ion-row>

                <div class="footer">
                    <div>
                        <ion-item lines="none" class="text">
                            <ion-label>
                                Rate your friends and get rated
                            </ion-label>
                        </ion-item>

                        <ion-item style="bottom:12%" lines="none" class="text">
                            <ion-label>
                                anonymously
                            </ion-label>
                        </ion-item>

                    </div>
                    <div>
                        <ion-button (click)="login()" class='btn' color="dark" expand='block' size="large">Start Rating
                            <ion-icon style='margin-left: 20px;' name="star-half-outline"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-row>

        </div>





    </ion-grid>




</ion-content>