<ion-content>
    <div class="container">

        <div class="round-bottom"></div>
        <div class="round-top"></div>

        <div>
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>

            </ion-item>
        </div>


        <ion-card *ngFor="let user of usersFeed | slice:0:2" class='usercard' button='true'>

            <div>
                <!-- <ion-card-header>
                    <ion-card-subtitle color="light">{{user.name}}</ion-card-subtitle>
                    <ion-card-title color="light">@{{user.username}}</ion-card-title>
                </ion-card-header>

                <ion-img id="img" src="{{user.image}}"></ion-img> -->
                <swiper>
                    <ng-template swiperSlide>Slide 1</ng-template>
                    <ng-template swiperSlide>Slide 3</ng-template>
                    <ng-template swiperSlide>Slide 3</ng-template>
                </swiper>
            </div>
        </ion-card>
    </div>
</ion-content>