<ion-content>
    <div class="container">

        <div class="round-bottom"></div>
        <div class="round-top"></div>

        <div>
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>

            </ion-item>
        </div>

        <div>
            <ion-card class='usercard' button='true'>
                <ion-card-header>
                    <ion-card-subtitle color="light">Chloe Smith</ion-card-subtitle>
                    <ion-card-title color="light">@chloe_s</ion-card-title>
                </ion-card-header>


                <ion-img id="img" src="./assets/img1.jpg"></ion-img>

            </ion-card>
            <!-- <ion-card class='usercard' button='true'>
                <ion-card-header>
                    <ion-card-subtitle color="light">{{user.name}}</ion-card-subtitle>
                    <ion-card-title color="light">{{user.username}}</ion-card-title>
                </ion-card-header>


                <ion-img id="img" src="{{user.user_image}}"></ion-img>

            </ion-card> -->
        </div>
    </div>
</ion-content>