* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.round-bottom {
    border-top-left-radius: 100% 170px !important;
    border-top-right-radius: 100% 170px !important;
    overflow: hidden;
    position: absolute;
    /* Ellipse 1 */
    bottom: 0;
    background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    /* Ellipse 1 */
    width: 100%;
    height: 20px;
}

.round-top {
    border-bottom-left-radius: 50% 150px !important;
    border-bottom-right-radius: 50% 150px !important;
    overflow: hidden;
    position: absolute;
    /* Ellipse 1 */
    top: 0;
    background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    /* Ellipse 1 */
    width: 864px;
    height: 150px;
    left: -248px;
}

.container {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-size: 40px;
    position: absolute;
    left: 2%;
    top: 2%;
    width: 100%;
    text-align: left;
}

ion-item {
    --ion-item-background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    --ion-item-color: white;
}

.image-container {
    position: absolute;
    top: -190px;
    right: -30px;
    transform: scale(3);
    border-radius: 10%;
    transition: 0.8s;
    background-color: #2EA5BF;
}

.image-container:hover,
.image-container:active {
    box-shadow: 0 0 10px lightblue;
}

#img {
    height: 60px;
    width: 70px;
    object-fit: cover;
}