* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.round-bottom {
    border-bottom-left-radius: 50% 150px !important;
    border-bottom-right-radius: 50% 150px !important;
    overflow: hidden;
    position: absolute;
    /* Ellipse 1 */
    background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    top: -250px;
    width: 864px;
    height: 880px;
    left: -248px;
    transition: 2s;
}

.container {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    margin: auto;
}

.btn {
    bottom: 0;
    position: absolute;
    max-width: auto;
    margin: 20px;
    margin-left: 20px;
}

.logo {
    font-size: 30px;
    position: absolute;
    left: 2%;
    top: 2%;
    width: 100%;
    z-index: 2;
    text-align: left;
    --ion-item-background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    --ion-item-color: #eee;
}

.input {
    /* Rectangle */
    border: 1px solid #2EA5BF;
    box-sizing: border-box;
    border-radius: 40px;
    margin-bottom: 10px;
}

.inputs {
    margin: 0 20px;
}

.input ion-input {
    text-align: center; //currentColor
}

.input ion-label {
    // color: #2EA5BF;
    text-align: center;
}

.signin {
    /* SIGN IN */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding-top: 100px;
    /* identical to box height, or 83% */
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    background-color: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
}

.btn {
    position: relative;
}

ion-label p {
    /* Dont have an account? Sign up right now! */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    text-align: left;
    text-transform: uppercase;
    color: #2EA5BF;
}

ion-label h2 {
    /* Dont have an account? Sign up right now! */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-size: 28px;
    /* or 125% */
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
}

.options ion-icon {
    margin: 0 20px;
    transform: scale(1.8);
}

.profile {
    transform: scale(3);
    margin-right: 15px;
    background-color: #2EA5BF;
}

.camera {
    margin: auto;
    position: absolute;
    transition: 0.8s;
    filter: invert(1);
}

.upload:hover>.camera,
.upload:active {
    filter: invert(0);
}

.input_file {
    transform: scale(4);
    opacity: 0;
}

.upload {
    transform: scale(3);
    border-radius: 100%;
    transition: 0.8s;
    margin-bottom: 50px;
    background-color: #2EA5BF;
    justify-content: center;
}

.upload:hover,
.upload:active {
    box-shadow: 0 0 30px lightblue;
}

#pp {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

@media (max-width :415px) and (min-width: 278px) {}

@media (min-width: 500px) {
    .round-bottom {
        top: -140px;
        width: 2064px;
        height: 880px;
        left: -248px;
    }
    .text {
        width: 100%;
    }
    .btn {
        width: 50%;
    }
    .signin {
        --ion-item-background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
        color: #eee;
    }
    .inputs {
        justify-content: center;
        margin: auto;
    }
    .options {
        margin-bottom: 100px;
    }
}

.welcome {
    --ion-item-background: linear-gradient(180deg, #2EA5BF 0%, #2EA5BF 100%);
    --ion-item-color: #eee;
}