<ion-content>
    <div class="container">

        <div class="round-bottom"></div>

        <div>
            <ion-item lines="none" class="logo">
                <ion-label>
                    Ratify
                </ion-label>

            </ion-item>
            <ion-fab horizontal="center" slot="fixed">
                <ion-fab-button class="image-container">
                    <img src={{displayedImage}} id="img" src="" alt="">
                </ion-fab-button>
            </ion-fab>

        </div>
    </div>
</ion-content>