<ion-content>

    <div class="bottom"></div>
    <ion-item lines="none" class="logo">
        <ion-label>
            {{name}}
        </ion-label>
    </ion-item>
    <ion-fab horizontal="center" slot="fixed">
        <ion-fab-button class="image-container">
            <img src={{image}} id="img" alt="">
        </ion-fab-button>
        <small style="margin-top: 30px; left: -15px; text-align: center; font-size: 15px; color:white; width: 100px;">@{{username}}</small>
    </ion-fab>
    <small class="total_rate">Total Rates: {{total_rates*100}}</small>
    <ion-progress-bar class="total_rates" color="light" value="{{total_rates}}"></ion-progress-bar>
    <div class="rates">
        <div class="rate">
            <ion-item lines="none">
                <ion-label>
                    Cuteness:
                </ion-label>
            </ion-item>
            <small class="percentages">{{cute*100}}%</small>
            <ion-progress-bar color="light" value="{{cute}}"></ion-progress-bar>
        </div>
        <div class="rate">
            <ion-item lines="none">
                <ion-label>
                    Personality:
                </ion-label>
            </ion-item>
            <small class="percentages">{{personality*100}}%</small>
            <ion-progress-bar color="light" value="{{personality}}"></ion-progress-bar>
        </div>
        <div class="rate">
            <ion-item lines="none">
                <ion-label>
                    Hotness:
                </ion-label>
            </ion-item>
            <small class="percentages">{{hot*100}}%</small>
            <ion-progress-bar color="light" value="{{hot}}"></ion-progress-bar>
        </div>
        <div class="rate">
            <ion-item lines="none">
                <ion-label>
                    Social:
                </ion-label>
            </ion-item>
            <small class="percentages">{{social*100}}%</small>
            <ion-progress-bar color="light" value="{{social}}"></ion-progress-bar>
        </div>
        <div class="rate">
            <ion-item lines="none">
                <ion-label>
                    Fun:
                </ion-label>
            </ion-item>
            <small class="percentages">{{fun*100}}%</small>
            <ion-progress-bar color="light" value="{{fun}}"></ion-progress-bar>
        </div>
        <div class="rate">
            <ion-item lines="none">
                <ion-label>
                    Friendly:
                </ion-label>
            </ion-item>
            <small class="percentages">{{friendly*100}}%</small>
            <ion-progress-bar color="light" value="{{friendly}}"></ion-progress-bar>
        </div>
    </div>

</ion-content>
<ion-tabs>
    <ion-tab-bar>
        <ion-tab-button>
            <ion-icon name="flash"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="search()">
            <ion-icon name="search"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="feed()">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="profile()">
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>